<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198738917984-qmujkvidvr2i0586vkppe0h42c2usqs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198738917984-qmujkvidvr2i0586vkppe0h42c2usqs9</string>
	<key>API_KEY</key>
	<string>AIzaSyBVfSQ6nGVIvWM4tTreGfTxhPbSf6zdZu0</string>
	<key>GCM_SENDER_ID</key>
	<string>198738917984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deblanko.amberpetsloyalty</string>
	<key>PROJECT_ID</key>
	<string>amber-pets-loyalty</string>
	<key>STORAGE_BUCKET</key>
	<string>amber-pets-loyalty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198738917984:ios:8f105b64b82e22164f2105</string>
	<key>DATABASE_URL</key>
	<string>https://amber-pets-loyalty.firebaseio.com</string>
</dict>
</plist>